---
import picture from "../assets/image/header.png";
import PictureB from "../assets/image/about.png";
import pictureC from "../assets/image/flex1.png";
import pictureD from "../assets/image/flex2.png";
import pictureE from "../assets/image/flex3.png";
---

<header id="hola">
  <img src={picture.src} alt="image">
  <div class="content-box"> 
    <p>PREDICADOR</p>
    <h1>EMANUEL SHARES</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, odit?</p>
  </div>
</header>
<section>
  <div>
    <h2>sombre mi</h2>
    <div class="underline"></div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Quae et fugiat consequatur deserunt beatae. Provident optio fuga ex officiis et dolorem id,
    quasi ducimus illo labore sint ea sapiente natus, consequatur repellendus praesentium esse rem exercitationem ipsam.
    Voluptatibus iste, voluptatum, aut quasi illo, doloribus dolorem labore unde atque cum eum.</p>
  </div>
  <img src={PictureB.src} alt="image">
</section>
<article>
  <div class="content-flex">
    <img src={pictureC.src} alt="image">
      <h3>Fe y esperanza</h3>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Sunt cumque nesciunt odio. Eum laudantium tempora ipsam architecto et pariatur praesentium?
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Sunt cumque nesciunt odio. Eum laudantium tempora ipsam architecto et pariatur praesentium?</p>
      <div>
        <img src={pictureD.src} alt="image">
        <h3>Fe y esperanza</h3>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Sunt cumque nesciunt odio. Eum laudantium tempora ipsam architecto et pariatur praesentium?
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Sunt cumque nesciunt odio. Eum laudantium tempora ipsam architecto et pariatur praesentium?</p>
      </div>
      <div>
        <img src={pictureE.src} alt="image">
        <h3>Fe y esperanza</h3>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Sunt cumque nesciunt odio. Eum laudantium tempora ipsam architecto et pariatur praesentium?
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Sunt cumque nesciunt odio. Eum laudantium tempora ipsam architecto et pariatur praesentium?</p>
      </div>
    </div>
</article>
<div class="content-text">
  <div>
    <h2>Formación</h2>
    <div class="underline"></div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus minima
    quis nobis blanditiis nesciunt culpa aliquam nulla molestiae veniam reprehenderit.</p>
  </div>
  <div>
    <h2>Formación</h2>
    <div class="underline"></div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus minima
    quis nobis blanditiis nesciunt culpa aliquam nulla molestiae veniam reprehenderit.</p>
  </div>
  <div>
    <h2>Experiencia</h2>
    <div class="underline"></div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus minima
    quis nobis blanditiis nesciunt culpa aliquam nulla molestiae veniam reprehenderit.</p>
  </div>
</div>

<style lang="scss">
  @use '../assets/sass/index' as *;

  header {
    position: relative;
    background-image: url("/src/assets//image/backgound.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70%;
      background: linear-gradient(to top, rgba(0, 0, 0, 100%),
      rgba(0, 0, 0, 80%),
      rgba(0, 0, 0, 0));
      pointer-events: none
    }
  }

  header img {
    width: 100%;
  }

  .content-box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left; 
    text-align: left; 
    z-index: 1;
    p {
      margin-top: 15px;
    }
  }

  section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    padding: 50px 0 50px 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70%;
      background: linear-gradient(to top, rgba(0, 0, 0, 100%),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0));
      pointer-events: none
    }
  }

  section img {
    margin-top: 50px;
    width: 100%;
  }

  article {
    display: flex;
    background-color: $primary;
    padding: 50px 0 50px 0;

    h3, p {
      margin: 0;
    }
  }

  article img {
    margin-top: 50px;
    width: 100%;
  }

  article .content-flex {
    margin: 0 5%;
  }

  .content-text {
    display: flex;
    flex-direction: column;
    background-color: $primary;
    padding: 50px 0 50px 0;
    p {
      margin: 30px 5% 40px;
    }
  }

  @media only screen and (min-width: 1024px) {

    h1 {
      font-size: 3rem;
    }

    header {
      background-image: linear-gradient(to bottom, rgba(0, .6,.6, 0%), rgba(0,.2,.2,60%)), url("/src/assets/image/backgoundDesk.png");
      background-size: cover;
      background-position: center center;
      overflow: hidden;
    }

    .content-box {
      max-width: 600px;
      
    }

    .primarybutton {
      width: 300px;
      margin: 70px 3%;
    }
  }
</style>
